header{
  background-color: #FFCCFF;
}
footer{
  background-color: #FFCCCC;
}

table{
    border: 1px solid black;
}

.center{
  margin-left: auto;
  margin-right: auto;
}

td{
  border: 1px solid black;
  font-size: 40px;
  height: 150px;
  width: 150px;
}
#row1-1{
  background-color: #8B0000;
  color: #FFE4E1;
}
#row1-2{
  background-color: #FF0000;
  color: #FFFF00;
}
#row1-3{
  background-color: #B22222;
  color: #8B4513;
}
#row1-4{
  background-color: #CD5C5C;
  color: #0000CD;
}

#row2-1{
  background-color: #4B0082;
}
#row2-2{
  background-color: #9400D3;
}
#row2-3{
  background-color: #FF00FF;
}
#row2-4{
  background-color: #6A5ACD;
}


#row3-1{
  background-color: #008080;
  color: #BDB76B;
}
#row3-2{
  background-color: #20B2AA;
  color: #2F4F4F;
}
#row3-3{
  background-color: #40E0D0;
  color: #D2691E;
}
#row3-4{
  background-color: #7FFFD4;
  color: #FA8072;
}

#row4-1{
  background-color: #FFD700;
}
#row4-2{
  background-color: #FFFF00;
}
#row4-3{
  background-color: #FFA500;
}
#row4-4{
  background-color: #FFDAB9;
}
